#main section {
    background-size: cover;
    height:100vh;
    width: 100vw;
    display: table;
}

#introduction{
    background-color: black;
    color: white;
}
#experience{
    background-color: white;
    color: black;
}
#projects{
    background-color: black;
    color: white;
}


.negativeMargin {
  margin-top: -10px;
}
img {
  border-radius: 50%;
}

.center {
  text-align: center;
}

.w3-container{
 padding-left: 20%;
 padding-right: 20%;
 padding-top: 5%;
 padding-bottom: 5%;
  align-items: center;
}

.tab{
  margin-left: 5%;
}
.tab2{
  text-indent: 7%;
}
.tab3{
  text-indent: 10%;
}

.location{
  float: right;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
